<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ survey.name }} - Survey Detail</title>
</head>
<body>

<h1>{{ survey.name }} - Survey Detail</h1>
<p>{{ survey.description }}</p>

<form method="post" action="{% url 'submit_response' survey.id %}">
    {% csrf_token %}

    {% for question in survey.question_set.all %}
        <fieldset>
            <legend>{{ question.text }}</legend>

            {% for answer in question.answer_set.all %}
                <label>
                    <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
                    {{ answer.value }}
                </label><br>
            {% endfor %}
        </fieldset>
    {% endfor %}

    <input type="submit" value="Submit">
</form>

</body>
</html>
