body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    color: #007BFF;
}

p {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #007BFF;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}
